@import "~@angular/material/theming";
@import '../../breakpoints';
@import '../../theme';
@import '../../positions';

// variables

$viewport-max-width: 1200px; // width of markdown content
$viewport-offset-x: 16px;
$body-offset: $menu-width + 50px;

// mixins

@mixin viewport-width($padding: true) {
  margin: 0 auto;
  max-width: $viewport-max-width;

  @if ($padding) {
    padding-left: $viewport-offset-x;
    padding-right: $viewport-offset-x;
  }
}

body {
    font-family: sailec-regular,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,roboto,helvetica neue,helvetica,arial,sans-serif!important;
    font-size: 16px!important;
    min-width: $body-offset;
  }

#body {
    font-family: sailec-regular,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,roboto,helvetica neue,helvetica,arial,sans-serif!important;
    font-size: 16px!important;
    padding-top: $header-height + 20px;
    padding-left: $body-offset;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 900px;
    position: relative;
  }

.outlet-wrapper {
    @include viewport-width();
    margin-top: $viewport-offset-x;
    margin-bottom: $viewport-offset-x;
    position: relative;
  }
