
// variables

$background-color: #fafbfd;
$menu-text-color: #162a4c;
$spotlight-color: #3333cc;

// style

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  box-sizing: border-box;
  width: 100%;

  .mat-list-item.active {
    background-color: $background-color; // active tab matching the url
  }

  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: $background-color !important; // rollover highlight
    }
  }

  app-menu-list-item {
    padding-left: 28px;
    margin: 0;
  }

  app-menu-list-item app-menu-list-item {
    border-left: 1px solid blue;
    margin-left: 28px;
    padding-left: 0;

    &:first-child {
      border-top: 1px dashed gainsboro;
      padding-top: 10px;
    }
    &:last-child {
      border-bottom: 1px dashed gainsboro;
      padding-bottom: 10px;
    }

    ::ng-deep .mat-list-item {
      padding: 8px 0 !important;
    }
  }

  app-menu-list-item app-menu-list-item app-menu-list-item {
    border: none;
    margin: 0;
    margin-left: 3px;
    padding: 0 !important;
    font-weight: normal;
    border-left: 1px double blue;
  }

  a {
    text-decoration: none;
  }

  ::ng-deep .mat-list-item-content {
    color: $menu-text-color;
    font-size: 15px;
    line-height: 15px;
    padding: 0;
  }

}

.mat-list-item {
  padding: 12px 0;
  .routeIcon {
    margin-right: 14px;
    color: $spotlight-color !important;
  }
}
