<a mat-list-item
  [ngStyle]="{ 'padding-left': (depth * 11) + 'px' }"
  (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  class="menu-list-item"
  fxFlexFill
  fxLayoutAlign="left center"
>
  <img
    *ngIf="item.iconName != null"
    class="routeIcon"
    src="assets/icons/icon-{{item.iconName}}.svg"
  >

    {{item.displayName}}

  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
  </span>
</a>

<div *ngIf="expanded" class="menu-section">
  <app-menu-list-item
    *ngFor="let child of item.children"
    [item]="child"
    [depth]="depth+1">
  </app-menu-list-item>
</div>
