@import '../../positions';

// variables
$background-color: #f3f5f9;
$border-color: #e0e2ed;

// style
:host {
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

mat-nav-list > app-menu-list-item {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
}

.mat-sidenav-container {
  height: 100vh;
  width: $menu-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: 300;
  font-size: 90%;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  z-index: 100;
  padding-top: $header-height;

  .mat-sidenav-content {
    flex-direction: column;
  }
}

// main background colour
.mat-nav-list {
  padding-top: 0;
  height: 100%;
  background-color: $background-color;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
