<mat-sidenav-container mode="over">
  <mat-nav-list>
    <app-menu-list-item
      *ngFor="let item of navItems"
      [item]="item">
    </app-menu-list-item>
  </mat-nav-list>
</mat-sidenav-container>

<!-- <div>
  <a routerLink="cheat-sheet">test</a>
</div>
<div>
  <a routerLink="plugins/ben/">test/ben</a>
</div>
<div>
  <a routerLink="plugins/ben/ben2">test/ben/ben2</a>
</div> -->

<!-- <nav mat-tab-nav-bar backgroundColor="primary" disableRipple #tabHeader>
  <a mat-tab-link
    fxLayout="row"
    fxLayoutGap="8px"
    *ngFor="let route of routes"
    #tabLink="routerLinkActive"
    [active]="tabLink.isActive"
    [routerLink]="route.path"
    routerLinkActive>
    <img src="assets/icon-{{route.path}}.svg">
    <span>{{ route.data?.label }}</span>
  </a>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>
      <img [hidden]="theme == 'light'" src="assets/icon-light-on.svg">
      <img [hidden]="theme == 'dark'" src="assets/icon-light-off.svg">
    </mat-icon>
  </button>
</nav> -->