@import '../../positions';

// variables

$viewport-max-width: 1200px; // width of markdown content
$viewport-offset-x: 16px;

// mixins

@mixin viewport-width($padding: true) {
  margin: 0 auto;
  max-width: $viewport-max-width;

  @if ($padding) {
    padding-left: $viewport-offset-x;
    padding-right: $viewport-offset-x;
  }
}

.logo img {
  border: 0;
  margin-left: 23px;
  height: 40px;
}

button {
  margin-right: 23px;
  margin-bottom: 9px;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  background: #75BBCB; //#fff;
  z-index: 200;
  // border-bottom: 1px solid #eee;
}

.header-contents {
  align-items: center;
  color: #333;
  display: flex;
  font-family: sailec-medium,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,roboto,helvetica neue,helvetica,arial,sans-serif;
  height: $header-height;
  position: relative;
  z-index: 10;
}