<div id="headermain" class="header-container" #tabHeader>
    <div class="header-contents" fxLayout="row" fxLayoutAlign="space-between center">

      <a routerLink="bindings" class="logo" title="Home" aria-label="Go to home page">
        <img src="assets/img/hsbc-logo-200x25.svg" aria-hidden="true" alt="">
      </a>

      <img src="assets/img/afloat.svg" aria-hidden="true" alt="">

      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>
          <img [hidden]="theme == 'dark'" src="assets/icons/icon-lightbulb-on.svg">
          <img [hidden]="theme == 'light'" src="assets/icons/icon-lightbulb-off.svg">
        </mat-icon>
      </button>
    </div>
  </div>